<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%X{CTX}] %logger - %message%n</pattern>
        </encoder>
    </appender>
    <logger name="com.symphonyteleca" level="TRACE"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="springfox" level="WARN"/>

    <!--log4jdbc -->
    <!--In a typical usage scenario, you might turn on only the jdbc.sqlonly logging at INFO level,
     just to view the SQL coming out of your program.-->
    <logger name="jdbc.sqlonly" level="WARN"/>
    <logger name="jdbc.sqltiming" level="INFO"/>
    <logger name="jdbc.resultsettable" level="INFO"/>
    <logger name="jdbc.resultset" level="WARN"/>
    <logger name="jdbc.connection" level="WARN"/>
    <logger name="jdbc.audit" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
